.bi {
    display: inline-block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
}

.bi-notification {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9'%3E%3C/path%3E%3Cpath d='M10.3 21a1.94 1.94 0 0 0 3.4 0'%3E%3C/path%3E%3C/svg%3E");
}

.red-dot {
    font-size: 0.5rem;
    font-weight: 700;
    top: 10%;
    left: 80%;
    min-width: 0.625rem;
    padding: 1px 0.3rem;
    border-radius: 99rem;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
    transform: translate(-50%, -50%);
}