.bi {
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
    min-height: 1.25rem;
    background-color: #f97316;
    mask-size: contain;
    display: inline-block;
}

.bi-fire {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z'/%3E%3C/svg%3E");
}

.trending-block {
    padding: 1.25rem;
    max-width: 17rem;
    border: 1px solid rgb(228 228 231);
    border-radius: 1.5rem;
}

.trending-block-title {
    height: 1.75rem;
    color: #18181B;
    font-size: 1.125rem;
    font-weight: 900;
}

.topic-item {
}

.topic-item-rank-category {
    color: #52525B;
    font-size: 0.75rem;
    font-weight: 500;
}

.topic-item-title {
    color: #18181B;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

    .topic-item-title:hover {
        color: #059669;
    }

.topic-item-discussion-count {
    color: #a1a1aa;
    font-size: 0.75rem;
    font-weight: 500;
}